--extra-index-url https://download.pytorch.org/whl/cu130

torch==2.14.0+cu130
torchvision==0.29.0+cu130
numpy==2.4.6
pandas==3.0.0
matplotlib==3.10.8
scikit-learn==1.8.0
Pillow==12.3.0
tqdm==4.67.3
jupyter==1.1.1
ipykernel==7.2.0
kagglehub==1.0.2
